body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 24px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* colors 
5A2C33 - red
5F412E - beige
1E3D36 - blue
335128 - green
*/

/* header */

header {
  background: linear-gradient(to right, #1e3d36, #335128);
  height: 80vh;
  width: 100%;
  z-index: -1;
  margin: auto;
  position: relative;
  display: flex;
}
header div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  pointer-events: none;
  border: 2px solid red;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#canvas1 {
  height: 100%;
  width: 100%;
}

#fullName {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
  border: 1px solid blue;
  height: fit-content;
}
#job {
  width: 100%;
  margin-top: 8rem;
  text-align: center;
  border: 1px solid blue;
  height: fit-content;
}
#projButton {
  width: 100%;
  margin-top: 9rem;
  text-align: center;
  border: 1px solid yellow;
}

h1 {
  font-weight: 100;
  font-size: 2em;
  margin: auto;
}
h3 {
  font-weight: 100;
  margin: auto;
}
h4 {
  font-weight: 100;
  margin: auto;
}
/* navigation bar for desktop */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  background-color: transparent;
  padding-left: 75px;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.nav-list {
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-left: 40vw;
}
nav ul li {
  list-style: none;
  display: flex;
}
nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  display: block;
}
nav ul li a:hover,
nav ul li a.active {
  color: white;
  display: block;
  font-style: italic;
}

/* project list styling */
.proj-banner {
  text-align: center;
  width: 100%;
}
.project-container {
  width: 100%;
}
.proj-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proj-list li {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  margin: 1em 1em;
  z-index: 1;
}

.level3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.toolkit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  border: 2px solid blue;
  height: stretch;
}
.resume {
  display: flex;
  width: 50%;
  border: 2px solid blue;
  height: 700px;
  background: linear-gradient(to right, #1e3d36, #335128);
}
#toolkit-title {
  width: 100%;
  height: 3rem;
  text-align: center;
}
.toolkit ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.toolkit ul li {
  list-style: none;
  margin: auto;
}

.toolkit ul li img {
  color: blue;
  height: 10rem;
  width: 10rem;
  padding: 50px;
}
