body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 24px;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh;
}
.app {
  margin: 0;
  padding: 0;
}
.border {
  border: solid 1px black;
}

.b-border {
  border: solid 2px blue;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  align-items: right;
}
.fixed {
  position: fixed;
}
.end {
  align-self: flex-end;
}
.space-between {
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.listStyle {
  list-style: none;
}
nav {
  display: flex;
  flex-direction: row;
  background: transparent;
}
.fifty {
  width: 50%;
}
.hundred {
  width: 100%;
}
.nine-two {
  height: 92vh;
}
.toolkit {
  border-radius: 15px 0px 0px 15px;
  margin-top: 1.5rem;
  height: 75vh;
  width: 80%;
  background: rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 0 4px #000000;
  align-self: flex-end;
  transform: translateX(95%);
}
.logo {
  animation-duration: 2s;
}
.slide {
  animation: slide 0.4s ease-in forwards;
}
@keyframes slide {
  0% {
    transform: translateX(95%);
  }
  100% {
    transform: translateX(0%);
    cursor: pointer;
  }
}

#canvas1 {
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 2em;
  margin: auto;
}
h2 {
  font-weight: 100;
  font-size: 1.5rem;
  text-decoration: none;
}
h3 {
  font-weight: 100;
  margin: auto;
}
h4 {
  font-weight: 100;
  margin: auto;
}

.logo {
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
}

nav ul li {
  list-style: none;
  display: flex;
}
nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
}
nav ul li a:hover,
nav ul li a.active {
  display: block;
  font-style: italic;
}

/* project list styling */
.proj-banner {
  text-align: center;
  width: 100%;
}
.project-container {
  width: 100%;
}
.proj-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px black;
  box-shadow: inset 0 0 4px #000000;
}
.proj-list li {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  margin: 1em 1em;
  z-index: 1;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 6rem;
  width: 6rem;
}
.margin-small {
  margin: 10px;
}
.middle {
  margin: auto;
}
.my-name {
  margin-top: 7rem;
}
.hb {
  background-image: url("./img/Ellipse\ 2.svg");
  background-repeat: no-repeat;
  margin-top: 0px;
}
.hInfo {
  width: 90%;
}
a {
  text-decoration: none;
}
.m-top {
  margin-top: 4vh;
}
.flex {
  display: flex;
}
.left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
